<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header> About page</header>
    <br>
    <h1>ABOUT CANDY RESTAURANT</h1>
    <h2>about</h2>
    <P>Candy restaurant  is one of the best restaurants in Nairobi kenya, it has the highest ratings in the country, with the most exotic meals and also it vaules the traditions and culcture of may tribes with foreign food and drinks. It was bult in the year 2000 and founded it was founded by a woman called Candy markclay she decided to call it by her first , to show thst a woman can also run a resturant </P>
    <h2>Mission</h2>  
    <p> Our mission as the candy restaurant team is to offer good customer service and make our customers feel at home and offer the nice meals and hope to make them come back here again it all about the caring for the customers  </p> 
     <h2> The team</h2>
     <p> The Manager: Clara Gillbert
        <br>
        The assistant :Crystall marks
        <br> 
        The supperviser:Adrian Logain
        <br>
        then the waiters,chef,cleaners and the delivery guys.
     </p>
     <br>
     <a href="home.page.html"> home.page.html</a>
     <footer id="page footer">@candyrestaurant</footer>
</body>
</html>