<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <header> 
    CANDY RESTAURANT
    </header>
    <h1> Contact</h1>
    <p> 
        phone number;0759994528
        <br>
        email;clarachepkoech70@gmail.com
        <br>
        candyrestaurant38@gmail.com
    </p>
<form>
    <form>
        <label for="First Nmae"> FirstName:</label>
        <input type="text"required name="FirstName">
        <br>
        <label for="LastName">LastName</labelf>
        <input type="text"required name="LastName">
        <br>
        <label for="email">email</label>
        <input type="email"name="email"required>
        <br>
        <label for="Age">Age</labelf>
            <input type="number"required name="Age"max="30" min="15">
            <br>
            <label>Gender</label>:
            <input type="radio"name="gender" value="Male">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female">
            <label for="female">Female</label>
</form>
<br>
<a href="home.page.html"> home.page.html</a>
   <footer id="page footer">@candyrestaurant</footer>
</body>
</html>
