<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>CANDY RESTAURANT</title>
</head>
<body>
    <br>
<header> Home page</header>
    <h style="font-size: x-large; color: blue;"  styl> 
        CANDY RESTAURANT</h1>

    <p style="font-size: x-small;"">welcome all to candy's restaurant
        where you'll come with an empty tummy buuh leave with a full tummy and a banana smile on your face
        where the meal prices are affordable welcome to a place that feels like home with the best dishes 
        and a good quality customer service...enjoy your meal
    </p>
    <img src="restaurant/3.jpg">
    <img src="restaurant/Untitled.jpg2.jpg">
    <br>
    <img src="restaurant/13.jpg">
    <img  src="restaurant/12.jpg">
     <p> HOPE YOU ENJOY THE FINEST MEALS AT OUR RESTAURANT</p>
    

     <a href="menu.page.html">menu.page.html</a>
     <br>
     <a href="about.page.html">about.page.html</a>
     <br>
      <a href="contact.page.html">contact.page.html</a>
<br>
    <footer>
        Contact:0759994528.
        <br>
        Email:clarachepkoech70@gmail.com.
        <br>
        Instagram:@bloomcandy.
        
    </footer>
</body>
</html>