<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANDY' MENU</title>
</head>
<body>
    <header>Menu page</header>
    <style>
          img{
            width: 250px;
          }
    </style>
    
    <h1> THE MENU</h1>
<img src="restaurant/0_Rh-qFTBbBS6Bgy57.jpg"> STARTERS
<br>
<img src="restaurant/MAINDISH-MENU-KHWEZA.jpg">MAIN COURSES
<br>
<img src="restaurant/30Untitled.jpg">DESSERTS
<img src="restaurant/33Untitled.jpg">DRINKS
<br>
<a href="home.page.html"> home.page.html</a>
<footer id="page footer">
    @candyrestaurant  </footer>
</body>
</html>